services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        # Public variables (needed at build time)
        - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL:-https://api.outbid.cc}
        - NEXT_PUBLIC_BASE_URL=${NEXT_PUBLIC_BASE_URL:-https://outbid.cc}
        - NEXT_PUBLIC_STRIPE_PUBLIC_KEY=${NEXT_PUBLIC_STRIPE_PUBLIC_KEY:-pk_test_51Qvbo3FsYtjdKrHy3UN19W1CbnEakyhMTg2z5bfDtqTNjvcj1qKlHVDquIinRBGZerLTcCS0kIBTULZoTYw8khQG00mtjwHZrB}
        
        # Add Stripe secret key for build time
        - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}

        # Kinde variables (NEEDED AT BUILD TIME)
        - KINDE_ISSUER_URL=${KINDE_ISSUER_URL}
        - KINDE_CLIENT_ID=${KINDE_CLIENT_ID}
        - KINDE_CLIENT_SECRET=${KINDE_CLIENT_SECRET}
        - KINDE_SITE_URL=${KINDE_SITE_URL:-https://outbid.cc}
        - KINDE_POST_LOGOUT_REDIRECT_URL=${KINDE_POST_LOGOUT_REDIRECT_URL:-https://outbid.cc}
        - KINDE_POST_LOGIN_REDIRECT_URL=${KINDE_POST_LOGIN_REDIRECT_URL:-https://outbid.cc}
        - REDIS_HOST=redis-service
        - REDIS_URL=redis://redis-service:6379
    container_name: outbid-frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    environment:
      - NODE_ENV=production
      - HOSTNAME=0.0.0.0
    networks:
      - bidding-network  # <--- Join the backend network
      - default          # <-
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  nginx:
    image: nginx:alpine
    container_name: outbid-nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - frontend
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  certbot:
    image: certbot/certbot
    container_name: outbid-certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

networks:
  bidding-network:
    external: true
    name: bidding-service_bidding-network