services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: https://api.outbid.cc
        NEXT_PUBLIC_BASE_URL: https://outbid.cc
        NEXT_PUBLIC_STRIPE_PUBLIC_KEY: pk_test_51Qvbo3FsYtjdKrHy3UN19W1CbnEakyhMTg2z5bfDtqTNjvcj1qKlHVDquIinRBGZerLTcCS0kIBTULZoTYw8khQG00mtjwHZrB
    container_name: outbid-frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    environment:
      - NODE_ENV=production
      - HOSTNAME=0.0.0.0

  nginx:
    image: nginx:alpine
    container_name: outbid-nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - frontend

  certbot:
    image: certbot/certbot
    container_name: outbid-certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
